@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 14px;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}



/* Header */

.header {
    padding-top: 46px;
    background-color: #F1F1F1;
}

.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}

.navItem {
    transition: 0.2s ease;
}

.navItem:hover {
    text-decoration: underline;
}

.logo {
    font-weight: 700;
    font-size: 32px;
    padding-right: 12px;
    padding-bottom: 3px;
    position: relative;
    line-height: 100%;
}

.logo::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
}

/* Nav */

.navList {
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    color: #000;
}

.navLink.active {
    color: #606060;
}

.navBtn {
    display: none;
}

/* Header Content */

.headerRow {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.headerContent {
    max-width: 500px;
    margin-top: 124px;
}

.headerContent h1 {
    font-weight: 600;
    font-size: 44px;

}

.headerContent p {
    font-weight: 400;
    line-height: 200%;
    margin-top: 20px;
}

/* Services */

.servicesRow {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
}

.serviceCard {
    max-width: 370px;
}

.serviceCardHeading {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.serviceCard p {
    line-height: 200%;
}

/* Portfolio */

.portfolio {
    background-color: #F1F1F1;
    text-align: center;
}

.portfolioItem a {
    display: block;
    text-decoration: underline;
    font-size: 18px;
    margin-top: 40px;
    padding-bottom: 90px;
}

.portfolioHeading {
    color: #070707;
    padding-top: 90px;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 70px;
}

/* contacts */

.contacts {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 90px 0;
}

.contactsHeading {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 40px;
}

.contactsContent {
    color: #070707;
    font-size: 18px;
    margin-bottom: 40px;
}

.contactsBtn {
    background-color: #000;
    display: inline-block;
    padding: 7px 22px;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    transition: ease 0.3s;
    margin-bottom: 80px;

}

.contactsBtn:hover {
    opacity: 0.8;
}

.contactsBtn:active {
    transform: scale(0.9);
}

.contactsSocial {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin-bottom: 40px;
}

.socialIcon {
    transition: ease 0.3s;
}

.socialIcon:hover {
    transform: scale(1.2);
}

.socialIcon:active {
    transform: scale(1);
}

.contactsFooter {
    color: #828282;
}