@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: black;
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

/* Header */

.header {
    padding-top: 46px;
    background-color: #F1F1F1;
}

.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    font-weight: 700;
    font-size: 32px;
}

.logo::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
}